/* HEADER */
header {
  background-color: #222f3f;
  height: 70px;
}
#logo {
  width: 130px;
  padding-top: 12px;
  padding-left: 30px;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9edee;
}

main {
  width: 96%;
  margin-right: auto;
  margin-left: auto;
}

nav ul {
  background-color: #364759;
  color: white;
  overflow: hidden;
  height: 28px;
}
nav li {
  display: block;
  float: left;
  text-align: center;
  padding-left: 30px;
  padding-top: 5px;
}

h1 {
  color: white;
  background-color: #f56600;
  text-align: center;
  margin-top: 23px;
  height: 28px;
  padding-top: 7px;
}

.suggested p {
  font-size: 1.3em;
  font-weight: 550;
  padding-left: 50px;
  padding-top: 15px;
  text-align: left;
}

a {
  text-decoration: none;
  color: #00636b;
  font-size: 0.8em;
}
p {
  font-size: 1.3em;
  font-weight: 550;
}

#bg1 {
  width: 100%;
  margin-top: 30px;
}

.suggested {
  background-color: #ffffff;
  margin-top: 30px;
  height: 380px;
}

.suggested img {
  width: 210px;

  height: 300px;
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 27px;
  margin-bottom: 27px;
  margin-left: 50px;
  margin-right: 50px;
}

.images2 {
  float: left;
  text-align: center;
}

#vr {
  width: 100%;
}
.aside {
  margin-top: 30px;
  height: 380px;
  text-align: center;
}

.aside2 {
  margin-top: 100px;
  text-align: center;
}

footer {
  background-color: #364759;
  height: 50px;
  margin-top: 30px;
}

footer a {
  color: white;
  font-size: 0.7em;
  text-decoration: underline;
  font-weight: 700;
}
footer p {
  text-align: center;
}

.back {
  padding-top: 10px;
  padding-bottom: 10px;
}

.end {
  height: 150px;
  background-color: #222f3f;
  text-align: center;
}
#logo2 {
  padding-top: 60px;
  width: 12%;
}
